In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("airbnb_dataset.csv")

In [4]:
data.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
0,329172,"Hillside designer home,10 min.dwntn",1680871,Janet,NaN,78746,30.30085,-97.80794,Entire home/apt,495,3,7,2022-08-07,0.05,1,363,1,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13808 entries, 0 to 13807
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              13808 non-null  int64
 1   name                            13808 non-null  object
 2   host_id                         13808 non-null  int64
 3   host_name                       13806 non-null  object
 4   neighbourhood_group             0 non-null      float64
 5   neighbourhood                   13808 non-null  int64
 6   latitude                        13808 non-null  float64
 7   longitude                       13808 non-null  float64
 8   room_type                       13808 non-null  object
 9   price                           13808 non-null  int64
 10  minimum_nights                  13808 non-null  int64
 11  number_of_reviews               13808 non-null  int64
 12  last_review                     10948 non-null  object
 13  reviews_per_month               10948 non-null  float64
 14  calculated_host_listings_count  13808 non-null  int64
 15  availability_365                13808 non-null  int64
 16  number_of_reviews_ltm           13808 non-null  int64
 17  license                         0 non-null      float64
dtypes: float64(5), int64(9), object(4)
memory usage: 1.9+ MB

In [6]:
data.isna().sum()

id                                    0
name                                  0
host_id                               0
host_name                             2
neighbourhood_group               13808
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                        2860
reviews_per_month                  2860
calculated_host_listings_count        0
availability_365                      0
number_of_reviews_ltm                 0
license                           13808
dtype: int64

In [7]:
data.fillna("unknown value",inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_12216\2740345649.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unknown value' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.fillna("unknown value",inplace=True)

In [8]:
data.isna().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
number_of_reviews_ltm             0
license                           0
dtype: int64

In [9]:
data.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'number_of_reviews_ltm', 'license'],
      dtype='object')

In [10]:
data=data.rename(columns={
    'id': 'ID',
    'name': 'Name',
    'host_id': 'Host ID',
    'host_name': 'Host Name',
    'neighbourhood_group': 'Neighbourhood Group',
    'neighbourhood': 'Neighbourhood', 
    'latitude': 'Latitude', 
    'longitude': 'Longitude', 
    'room_type': 'Room Type', 
    'price': 'Price',
    'minimum_nights': 'Minimum Nights', 
    'number_of_reviews': 'Number Of Reviews', 
    'last_review': 'Last Review',
    'reviews_per_month': 'Reviews Per Month', 
    'calculated_host_listings_count': 'Calculated Host Listing Count',
    'availability_365': 'Availibilty 365', 
    'number_of_reviews_ltm': 'Number of Reviews Ltm', 
    'license': 'License'

})

In [11]:
data.columns

Index(['ID', 'Name', 'Host ID', 'Host Name', 'Neighbourhood Group',
       'Neighbourhood', 'Latitude', 'Longitude', 'Room Type', 'Price',
       'Minimum Nights', 'Number Of Reviews', 'Last Review',
       'Reviews Per Month', 'Calculated Host Listing Count', 'Availibilty 365',
       'Number of Reviews Ltm', 'License'],
      dtype='object')

In [12]:
data['Neighbourhood Group']

0        unknown value
1        unknown value
2        unknown value
3        unknown value
4        unknown value
             ...
13803    unknown value
13804    unknown value
13805    unknown value
13806    unknown value
13807    unknown value
Name: Neighbourhood Group, Length: 13808, dtype: object

In [13]:
data.drop(columns=['Neighbourhood Group','Latitude', 'Longitude'],inplace=True)

In [14]:
data.columns

Index(['ID', 'Name', 'Host ID', 'Host Name', 'Neighbourhood', 'Room Type',
       'Price', 'Minimum Nights', 'Number Of Reviews', 'Last Review',
       'Reviews Per Month', 'Calculated Host Listing Count', 'Availibilty 365',
       'Number of Reviews Ltm', 'License'],
      dtype='object')

In [18]:
data['License']

0        unknown value
1        unknown value
2        unknown value
3        unknown value
4        unknown value
             ...
13803    unknown value
13804    unknown value
13805    unknown value
13806    unknown value
13807    unknown value
Name: License, Length: 13808, dtype: object

In [19]:
data.drop(columns='License',inplace=True)

In [20]:
data.columns

Index(['ID', 'Name', 'Host ID', 'Host Name', 'Neighbourhood', 'Room Type',
       'Price', 'Minimum Nights', 'Number Of Reviews', 'Last Review',
       'Reviews Per Month', 'Calculated Host Listing Count', 'Availibilty 365',
       'Number of Reviews Ltm'],
      dtype='object')

In [21]:
data.head(1)

,ID,Name,Host ID,Host Name,Neighbourhood,Room Type,Price,Minimum Nights,Number Of Reviews,Last Review,Reviews Per Month,Calculated Host Listing Count,Availibilty 365,Number of Reviews Ltm
0,329172,"Hillside designer home,10 min.dwntn",1680871,Janet,78746,Entire home/apt,495,3,7,2022-08-07,0.05,1,363,1