In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
dataset = pd.read_csv('data-car-price-prediction.csv')

In [6]:
dataset.head()

,Unnamed: 0,Brand,Model,Varient,Manufacture Year,Driven Kilometers,Fuel,Number of Owner,Body Type,Location,Price
0,0,Maruti,Zen,Estilo LXI,2011,"24,337km",Petrol,First Owner,Hatchback,Delhi,210499.0
1,1,Maruti,Alto,K10 VXI,2018,"5,198km",Petrol,First Owner,Hatchback,Delhi,343799.0
2,2,Maruti,Celerio,VXI AMT,2015,"27,739km",Petrol,First Owner,Hatchback,Delhi,371199.0
3,3,Hyundai,i20,SPORTZ 1.2 VTVT,2014,"25,187km",Petrol,First Owner,Hatchback,Delhi,360099.0
4,4,Maruti,S,PRESSO VXI PLUS,2020,"7,556km",Petrol,First Owner,Hatchback,Delhi,415999.0

In [7]:
dataset.head(2)

,Unnamed: 0,Brand,Model,Varient,Manufacture Year,Driven Kilometers,Fuel,Number of Owner,Body Type,Location,Price
0,0,Maruti,Zen,Estilo LXI,2011,"24,337km",Petrol,First Owner,Hatchback,Delhi,210499.0
1,1,Maruti,Alto,K10 VXI,2018,"5,198km",Petrol,First Owner,Hatchback,Delhi,343799.0

In [8]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10083 entries, 0 to 10082
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         10083 non-null  int64
 1   Brand              10083 non-null  object
 2   Model              10083 non-null  object
 3   Varient            10083 non-null  object
 4   Manufacture Year   10083 non-null  int64
 5   Driven Kilometers  10083 non-null  object
 6   Fuel               10083 non-null  object
 7   Number of Owner    10083 non-null  object
 8   Body Type          10083 non-null  object
 9   Location           10083 non-null  object
 10  Price              10083 non-null  float64
dtypes: float64(1), int64(2), object(8)
memory usage: 866.6+ KB

In [9]:
dataset.columns

Index(['Unnamed: 0', 'Brand', 'Model', 'Varient', 'Manufacture Year',
       'Driven Kilometers', 'Fuel', 'Number of Owner', 'Body Type', 'Location',
       'Price'],
      dtype='object')

In [10]:
dataset.drop(columns = "Unnamed: 0", inplace= True)

In [11]:
dataset

,Brand,Model,Varient,Manufacture Year,Driven Kilometers,Fuel,Number of Owner,Body Type,Location,Price
0,Maruti,Zen,Estilo LXI,2011,"24,337km",Petrol,First Owner,Hatchback,Delhi,210499.0
1,Maruti,Alto,K10 VXI,2018,"5,198km",Petrol,First Owner,Hatchback,Delhi,343799.0
2,Maruti,Celerio,VXI AMT,2015,"27,739km",Petrol,First Owner,Hatchback,Delhi,371199.0
3,Hyundai,i20,SPORTZ 1.2 VTVT,2014,"25,187km",Petrol,First Owner,Hatchback,Delhi,360099.0
4,Maruti,S,PRESSO VXI PLUS,2020,"7,556km",Petrol,First Owner,Hatchback,Delhi,415999.0
...,...,...,...,...,...,...,...,...,...,...
10078,Toyota,Innova,2.5 EV CS 7 STR BSIV,2012,"1,83,000 kms",Diesel,First Owner,MUV,Delhi NCR,525000.0
10079,Toyota,Innova,2.5 GX (Diesel) 7 Seater BS IV,2012,"70,000 kms",Diesel,First Owner,MUV,Delhi NCR,650000.0
10080,Toyota,Innova,2.5 VX 8 STR BSIV,2010,"2,20,000 kms",Diesel,First Owner,MUV,Delhi NCR,495000.0
10081,Mahindra,Bolero,SLE,2010,"1,00,000 kms",Diesel,Second Owner,MUV,Delhi NCR,260000.0
10082,Maruti,Ertiga,VDI,2012,"58,000 kms",Diesel,First Owner,MUV,Delhi NCR,395000.0

In [12]:
dataset.columns

Index(['Brand', 'Model', 'Varient', 'Manufacture Year', 'Driven Kilometers',
       'Fuel', 'Number of Owner', 'Body Type', 'Location', 'Price'],
      dtype='object')

In [13]:
dataset.head(1)

,Brand,Model,Varient,Manufacture Year,Driven Kilometers,Fuel,Number of Owner,Body Type,Location,Price
0,Maruti,Zen,Estilo LXI,2011,"24,337km",Petrol,First Owner,Hatchback,Delhi,210499.0

In [14]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10083 entries, 0 to 10082
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              10083 non-null  object
 1   Model              10083 non-null  object
 2   Varient            10083 non-null  object
 3   Manufacture Year   10083 non-null  int64
 4   Driven Kilometers  10083 non-null  object
 5   Fuel               10083 non-null  object
 6   Number of Owner    10083 non-null  object
 7   Body Type          10083 non-null  object
 8   Location           10083 non-null  object
 9   Price              10083 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 787.9+ KB

In [15]:
# 1st step to clean data is to identify that there shouldn't be a missing data
dataset.isnull().sum()

Brand                0
Model                0
Varient              0
Manufacture Year     0
Driven Kilometers    0
Fuel                 0
Number of Owner      0
Body Type            0
Location             0
Price                0
dtype: int64

In [16]:
#to find the total data in dataset
dataset.shape

(10083, 10)

In [17]:
dataset.isna().sum()

Brand                0
Model                0
Varient              0
Manufacture Year     0
Driven Kilometers    0
Fuel                 0
Number of Owner      0
Body Type            0
Location             0
Price                0
dtype: int64

In [18]:
# to find how much percentage data is missing in particular column
dataset.shape[0]

10083

In [20]:
(dataset.isnull().sum()/dataset.shape[0])*100

Brand                0.0
Model                0.0
Varient              0.0
Manufacture Year     0.0
Driven Kilometers    0.0
Fuel                 0.0
Number of Owner      0.0
Body Type            0.0
Location             0.0
Price                0.0
dtype: float64

In [21]:
# to remove the missing data

dataset.dropna(inplace= True)

In [22]:
#now we check every column one by one

dataset['Brand']

0          Maruti
1          Maruti
2          Maruti
3         Hyundai
4          Maruti
           ...
10078      Toyota
10079      Toyota
10080      Toyota
10081    Mahindra
10082      Maruti
Name: Brand, Length: 10083, dtype: object

In [ ]:
#to check the type of data
type(dataset["Brand"][0])

str

In [24]:
dataset.head(1)

,Brand,Model,Varient,Manufacture Year,Driven Kilometers,Fuel,Number of Owner,Body Type,Location,Price
0,Maruti,Zen,Estilo LXI,2011,"24,337km",Petrol,First Owner,Hatchback,Delhi,210499.0

In [25]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10083 entries, 0 to 10082
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Brand              10083 non-null  object
 1   Model              10083 non-null  object
 2   Varient            10083 non-null  object
 3   Manufacture Year   10083 non-null  int64
 4   Driven Kilometers  10083 non-null  object
 5   Fuel               10083 non-null  object
 6   Number of Owner    10083 non-null  object
 7   Body Type          10083 non-null  object
 8   Location           10083 non-null  object
 9   Price              10083 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 787.9+ KB

In [26]:
type(dataset['Driven Kilometers'][0])

str

In [ ]:
# if we have to seperate things from column 

#x= dataset['car_name'][0]
#x[x.index(" ")]

#def company_name(x):
 #   return x[x.index(" ")]

#dataset["company name"] =  dataset['car_name'].apply(company_name)

In [30]:
dataset.drop(columns= "Location", inplace= True)

In [31]:
dataset.head(1)

,Brand,Model,Varient,Manufacture Year,Driven Kilometers,Fuel,Number of Owner,Body Type,Price
0,Maruti,Zen,Estilo LXI,2011,"24,337km",Petrol,First Owner,Hatchback,210499.0

In [32]:
dataset.to_csv("cleaned_car_data.csv", index= False)