In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("final_cleansed_data.csv")

In [4]:
data.head(1)

,Doctor Name,City,Specialization,Doctor Qualification,Experience(Years),Total_Reviews,Patient Satisfaction Rate(%age),Avg Time to Patients(mins),Wait Time(mins),Hospital Address,Doctors Link,Fee(PKR)
0,Prof. Dr. Syed Shamsuddin,QUETTA,Dermatologist,"MBBS, MCPS, FCPS",30.0,827.0,98.0,14.0,13.0,"National Hospital, Near Quetta Laboratory Prin...",https://www.marham.pk/doctors/quetta/dermatolo...,5000.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2652 entries, 0 to 2651
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Doctor Name                      2652 non-null   object
 1   City                             2652 non-null   object
 2   Specialization                   2652 non-null   object
 3   Doctor Qualification             2652 non-null   object
 4   Experience(Years)                2652 non-null   float64
 5   Total_Reviews                    2652 non-null   float64
 6   Patient Satisfaction Rate(%age)  2652 non-null   float64
 7   Avg Time to Patients(mins)       2652 non-null   float64
 8   Wait Time(mins)                  2652 non-null   float64
 9   Hospital Address                 2652 non-null   object
 10  Doctors Link                     2652 non-null   object
 11  Fee(PKR)                         2652 non-null   float64
dtypes: float64(6), object(6)
memory usage: 248.8+ KB

In [6]:
data.isna().sum()

Doctor Name                        0
City                               0
Specialization                     0
Doctor Qualification               0
Experience(Years)                  0
Total_Reviews                      0
Patient Satisfaction Rate(%age)    0
Avg Time to Patients(mins)         0
Wait Time(mins)                    0
Hospital Address                   0
Doctors Link                       0
Fee(PKR)                           0
dtype: int64

In [7]:
data.columns

Index(['Doctor Name', 'City', 'Specialization', 'Doctor Qualification',
       'Experience(Years)', 'Total_Reviews', 'Patient Satisfaction Rate(%age)',
       'Avg Time to Patients(mins)', 'Wait Time(mins)', 'Hospital Address',
       'Doctors Link', 'Fee(PKR)'],
      dtype='object')

In [8]:
data=data.rename(columns={
    'Total_Reviews':'Total Reviews'
})

In [9]:
data.columns

Index(['Doctor Name', 'City', 'Specialization', 'Doctor Qualification',
       'Experience(Years)', 'Total Reviews', 'Patient Satisfaction Rate(%age)',
       'Avg Time to Patients(mins)', 'Wait Time(mins)', 'Hospital Address',
       'Doctors Link', 'Fee(PKR)'],
      dtype='object')

In [10]:
data.drop(columns=['Hospital Address','Doctors Link'],inplace=True)

In [11]:
data.columns

Index(['Doctor Name', 'City', 'Specialization', 'Doctor Qualification',
       'Experience(Years)', 'Total Reviews', 'Patient Satisfaction Rate(%age)',
       'Avg Time to Patients(mins)', 'Wait Time(mins)', 'Fee(PKR)'],
      dtype='object')

In [12]:
data.head(1)

,Doctor Name,City,Specialization,Doctor Qualification,Experience(Years),Total Reviews,Patient Satisfaction Rate(%age),Avg Time to Patients(mins),Wait Time(mins),Fee(PKR)
0,Prof. Dr. Syed Shamsuddin,QUETTA,Dermatologist,"MBBS, MCPS, FCPS",30.0,827.0,98.0,14.0,13.0,5000.0

In [13]:
data.to_csv("cleaned_doctors_data.csv")