In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [4]:
data = pd.read_csv("IEA Global EV Data 2024.csv")

In [5]:
data

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,3.900000e-04
1,Australia,Historical,EV sales share,Cars,EV,2011,percent,6.500000e-03
2,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,4.900000e+01
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,4.900000e+01
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,2.200000e+02
...,...,...,...,...,...,...,...,...
12649,World,Projection-STEPS,EV sales share,Cars,EV,2035,percent,5.500000e+01
12650,World,Projection-STEPS,EV stock share,Cars,EV,2035,percent,3.100000e+01
12651,World,Projection-APS,EV charging points,EV,Publicly available fast,2035,charging points,9.400000e+06
12652,World,Projection-APS,EV charging points,EV,Publicly available slow,2035,charging points,1.500000e+07
12653,World,Projection-STEPS,EV stock share,Trucks,EV,2035,percent,9.000000e+00

In [6]:
data.head(1)

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12654 entries, 0 to 12653
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      12654 non-null  object
 1   category    12654 non-null  object
 2   parameter   12654 non-null  object
 3   mode        12654 non-null  object
 4   powertrain  12654 non-null  object
 5   year        12654 non-null  int64
 6   unit        12654 non-null  object
 7   value       12654 non-null  float64
dtypes: float64(1), int64(1), object(6)
memory usage: 791.0+ KB

In [8]:
data.columns

Index(['region', 'category', 'parameter', 'mode', 'powertrain', 'year', 'unit',
       'value'],
      dtype='object')

In [9]:
data.isnull().sum()

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [10]:
data.isna().sum()

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

In [11]:
data.columns

Index(['region', 'category', 'parameter', 'mode', 'powertrain', 'year', 'unit',
       'value'],
      dtype='object')

In [12]:
#now we change the columns name to uppercase
new_columns_name = []

for i in data.columns:
    new_columns_name.append(i.capitalize())

In [13]:
data.columns

Index(['region', 'category', 'parameter', 'mode', 'powertrain', 'year', 'unit',
       'value'],
      dtype='object')

In [14]:
new_columns_name

['Region',
 'Category',
 'Parameter',
 'Mode',
 'Powertrain',
 'Year',
 'Unit',
 'Value']

In [15]:
data.columns = new_columns_name

In [16]:
data.columns

Index(['Region', 'Category', 'Parameter', 'Mode', 'Powertrain', 'Year', 'Unit',
       'Value'],
      dtype='object')

In [17]:
data.head(1)

,Region,Category,Parameter,Mode,Powertrain,Year,Unit,Value
0,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039

In [18]:
data.shape

(12654, 8)

In [19]:
#to check duplicates

data.duplicated().sum()

np.int64(0)

In [20]:
#now we remove the unit column

data.drop(columns= "Unit", inplace=True)

In [21]:
data

,Region,Category,Parameter,Mode,Powertrain,Year,Value
0,Australia,Historical,EV stock share,Cars,EV,2011,3.900000e-04
1,Australia,Historical,EV sales share,Cars,EV,2011,6.500000e-03
2,Australia,Historical,EV sales,Cars,BEV,2011,4.900000e+01
3,Australia,Historical,EV stock,Cars,BEV,2011,4.900000e+01
4,Australia,Historical,EV stock,Cars,BEV,2012,2.200000e+02
...,...,...,...,...,...,...,...
12649,World,Projection-STEPS,EV sales share,Cars,EV,2035,5.500000e+01
12650,World,Projection-STEPS,EV stock share,Cars,EV,2035,3.100000e+01
12651,World,Projection-APS,EV charging points,EV,Publicly available fast,2035,9.400000e+06
12652,World,Projection-APS,EV charging points,EV,Publicly available slow,2035,1.500000e+07
12653,World,Projection-STEPS,EV stock share,Trucks,EV,2035,9.000000e+00

In [22]:
#now we change and clean everything we need now we can export it to a new file

data.to_csv("cleaned EV Data.csv", index= False)