In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("fedex.csv")

In [4]:
data.head(1)

,Year,Month,DayofMonth,DayOfWeek,Actual_Shipment_Time,Planned_Shipment_Time,Planned_Delivery_Time,Carrier_Name,Carrier_Num,Planned_TimeofTravel,Shipment_Delay,Source,Destination,Distance,Delivery_Status
0,2008,1,3,4,2003.0,1955,2225,WN,335,150.0,8.0,IAD,TPA,810,0.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3604175 entries, 0 to 3604174
Data columns (total 15 columns):
 #   Column                 Dtype
---  ------                 -----
 0   Year                   int64
 1   Month                  int64
 2   DayofMonth             int64
 3   DayOfWeek              int64
 4   Actual_Shipment_Time   float64
 5   Planned_Shipment_Time  int64
 6   Planned_Delivery_Time  int64
 7   Carrier_Name           object
 8   Carrier_Num            int64
 9   Planned_TimeofTravel   float64
 10  Shipment_Delay         float64
 11  Source                 object
 12  Destination            object
 13  Distance               int64
 14  Delivery_Status        float64
dtypes: float64(4), int64(8), object(3)
memory usage: 412.5+ MB

In [6]:
data.isna().sum()

Year                         0
Month                        0
DayofMonth                   0
DayOfWeek                    0
Actual_Shipment_Time     81602
Planned_Shipment_Time        0
Planned_Delivery_Time        0
Carrier_Name                 0
Carrier_Num                  0
Planned_TimeofTravel       547
Shipment_Delay           81602
Source                       0
Destination                  0
Distance                     0
Delivery_Status          81602
dtype: int64

In [7]:
data['Actual_Shipment_Time']

0          2003.0
1           754.0
2           628.0
3           926.0
4          1829.0
            ...
3604170    1059.0
3604171     555.0
3604172     821.0
3604173     718.0
3604174    1127.0
Name: Actual_Shipment_Time, Length: 3604175, dtype: float64

In [8]:
data.fillna("unknown value",inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_23596\2740345649.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'unknown value' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.fillna("unknown value",inplace=True)

In [9]:
data=data.drop_duplicates()

In [10]:
data.columns

Index(['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'Actual_Shipment_Time',
       'Planned_Shipment_Time', 'Planned_Delivery_Time', 'Carrier_Name',
       'Carrier_Num', 'Planned_TimeofTravel', 'Shipment_Delay', 'Source',
       'Destination', 'Distance', 'Delivery_Status'],
      dtype='object')

In [11]:
data=data.rename(columns={
    'DayofMonth': 'Day Of Month', 
    'DayOfWeek': 'Day Of Week', 
    'Actual_Shipment_Time': 'Actual Shipment Time',
    'Planned_Shipment_Time': 'Planned Shipment Time', 
    'Planned_Delivery_Time': 'Planned Delivery Time', 
    'Carrier_Name': 'Carrier Name',
    'Carrier_Num': 'Carrier Number', 
    'Planned_TimeofTravel': 'Planned Time Of Travel', 
    'Shipment_Delay': 'Shipment Delay',
    'Delivery_Status': 'Delivery Status'
})

In [12]:
data.columns

Index(['Year', 'Month', 'Day Of Month', 'Day Of Week', 'Actual Shipment Time',
       'Planned Shipment Time', 'Planned Delivery Time', 'Carrier Name',
       'Carrier Number', 'Planned Time Of Travel', 'Shipment Delay', 'Source',
       'Destination', 'Distance', 'Delivery Status'],
      dtype='object')

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3604171 entries, 0 to 3604174
Data columns (total 15 columns):
 #   Column                  Dtype
---  ------                  -----
 0   Year                    int64
 1   Month                   int64
 2   Day Of Month            int64
 3   Day Of Week             int64
 4   Actual Shipment Time    object
 5   Planned Shipment Time   int64
 6   Planned Delivery Time   int64
 7   Carrier Name            object
 8   Carrier Number          int64
 9   Planned Time Of Travel  object
 10  Shipment Delay          object
 11  Source                  object
 12  Destination             object
 13  Distance                int64
 14  Delivery Status         object
dtypes: int64(8), object(7)
memory usage: 440.0+ MB

In [14]:
data.isna().sum()

Year                      0
Month                     0
Day Of Month              0
Day Of Week               0
Actual Shipment Time      0
Planned Shipment Time     0
Planned Delivery Time     0
Carrier Name              0
Carrier Number            0
Planned Time Of Travel    0
Shipment Delay            0
Source                    0
Destination               0
Distance                  0
Delivery Status           0
dtype: int64

In [15]:
data.to_csv("cleaned_fedex_data.csv",index=False)