In [1]:
import pandas as pd

In [3]:
data= pd.read_csv("synthetic_financial_data.csv")

In [4]:
data.head(1)

,transaction_id,customer_id,merchant_id,amount,transaction_time,is_fraudulent,card_type,location,purchase_category,customer_age,transaction_description
0,1,1082,2027,5758.59,2023-01-01 00:00:00,0,MasterCard,City-30,Gas Station,43,Purchase at Merchant-2027

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           10000 non-null  int64
 1   customer_id              10000 non-null  int64
 2   merchant_id              10000 non-null  int64
 3   amount                   10000 non-null  float64
 4   transaction_time         10000 non-null  object
 5   is_fraudulent            10000 non-null  int64
 6   card_type                10000 non-null  object
 7   location                 10000 non-null  object
 8   purchase_category        10000 non-null  object
 9   customer_age             10000 non-null  int64
 10  transaction_description  10000 non-null  object
dtypes: float64(1), int64(5), object(5)
memory usage: 859.5+ KB

In [6]:
data.isna().sum()

transaction_id             0
customer_id                0
merchant_id                0
amount                     0
transaction_time           0
is_fraudulent              0
card_type                  0
location                   0
purchase_category          0
customer_age               0
transaction_description    0
dtype: int64

In [7]:
data.isnull().sum()

transaction_id             0
customer_id                0
merchant_id                0
amount                     0
transaction_time           0
is_fraudulent              0
card_type                  0
location                   0
purchase_category          0
customer_age               0
transaction_description    0
dtype: int64

In [8]:
data.columns

Index(['transaction_id', 'customer_id', 'merchant_id', 'amount',
       'transaction_time', 'is_fraudulent', 'card_type', 'location',
       'purchase_category', 'customer_age', 'transaction_description'],
      dtype='object')

In [11]:
data=data.rename(columns={
    'transaction_id': 'Transaction ID', 
    'customer_id': 'Customer ID', 
    'merchant_id': 'Merchant ID',
    'transaction_time': 'Transaction Time', 
    'is_fraudulent': 'Fraudulent', 
    'card_type': 'Card Type',
    'purchase_category': 'Purchase Category', 
    'customer_age': 'Customer Age', 
    'transaction_description': 'Transaction Description',
    'amount': 'Amount',
    'location': 'Location'
})

In [12]:
data.columns

Index(['Transaction ID', 'Customer ID', 'Merchant ID', 'Amount',
       'Transaction Time', 'Fraudulent', 'Card Type', 'Location',
       'Purchase Category', 'Customer Age', 'Transaction Description'],
      dtype='object')

In [13]:
data.head(1)

,Transaction ID,Customer ID,Merchant ID,Amount,Transaction Time,Fraudulent,Card Type,Location,Purchase Category,Customer Age,Transaction Description
0,1,1082,2027,5758.59,2023-01-01 00:00:00,0,MasterCard,City-30,Gas Station,43,Purchase at Merchant-2027

In [ ]:
data['Transaction Time']

0       2023-01-01 00:00:00
1       2023-01-01 00:00:01
2       2023-01-01 00:00:02
3       2023-01-01 00:00:03
4       2023-01-01 00:00:04
               ...
9995    2023-01-01 02:46:35
9996    2023-01-01 02:46:36
9997    2023-01-01 02:46:37
9998    2023-01-01 02:46:38
9999    2023-01-01 02:46:39
Name: Transaction Time, Length: 10000, dtype: object

In [15]:
data['Transaction Time']= pd.to_datetime(data['Transaction Time'])

In [16]:
data['Transaction Time']

0      2023-01-01 00:00:00
1      2023-01-01 00:00:01
2      2023-01-01 00:00:02
3      2023-01-01 00:00:03
4      2023-01-01 00:00:04
               ...
9995   2023-01-01 02:46:35
9996   2023-01-01 02:46:36
9997   2023-01-01 02:46:37
9998   2023-01-01 02:46:38
9999   2023-01-01 02:46:39
Name: Transaction Time, Length: 10000, dtype: datetime64[ns]

In [17]:
data.head(1)

,Transaction ID,Customer ID,Merchant ID,Amount,Transaction Time,Fraudulent,Card Type,Location,Purchase Category,Customer Age,Transaction Description
0,1,1082,2027,5758.59,2023-01-01,0,MasterCard,City-30,Gas Station,43,Purchase at Merchant-2027

In [18]:
data.to_csv("cleaned_fraud_analysis_data.csv",index=False)