In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [6]:
data = pd.read_csv("fuel sales.csv")

In [7]:
data.head(1)

,Date,Station_Name,AGO_Sales (L),PMS_Sales (L),Lubricant_Sales (L),Diesel_Sales (L),LPG_Sales (kg),Total_Revenue (?),AGO_Price,PMS_Price,Lubricant_Price,Diesel_Price,LPG_Price,Product_Category,Shift,Supervisor,Weekday
0,2025-01-01,Idimu,9751,14423,991,14362,1407,31642990,750,650,2000,820,850,Lubricant,Morning,Mr. John,Wednesday

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Date                 500 non-null    object
 1   Station_Name         500 non-null    object
 2   AGO_Sales (L)        500 non-null    int64
 3   PMS_Sales (L)        500 non-null    int64
 4   Lubricant_Sales (L)  500 non-null    int64
 5   Diesel_Sales (L)     500 non-null    int64
 6   LPG_Sales (kg)       500 non-null    int64
 7   Total_Revenue (?)    500 non-null    int64
 8   AGO_Price            500 non-null    int64
 9   PMS_Price            500 non-null    int64
 10  Lubricant_Price      500 non-null    int64
 11  Diesel_Price         500 non-null    int64
 12  LPG_Price            500 non-null    int64
 13  Product_Category     500 non-null    object
 14  Shift                500 non-null    object
 15  Supervisor           500 non-null    object
 16  Weekday              500 non-null    object
dtypes: int64(11), object(6)
memory usage: 66.5+ KB

In [9]:
data.columns

Index(['Date', 'Station_Name', 'AGO_Sales (L)', 'PMS_Sales (L)',
       'Lubricant_Sales (L)', 'Diesel_Sales (L)', 'LPG_Sales (kg)',
       'Total_Revenue (?)', 'AGO_Price', 'PMS_Price', 'Lubricant_Price',
       'Diesel_Price', 'LPG_Price', 'Product_Category', 'Shift', 'Supervisor',
       'Weekday'],
      dtype='object')

In [10]:
data.drop(columns = "Weekday", inplace= True)

In [11]:
data.columns

Index(['Date', 'Station_Name', 'AGO_Sales (L)', 'PMS_Sales (L)',
       'Lubricant_Sales (L)', 'Diesel_Sales (L)', 'LPG_Sales (kg)',
       'Total_Revenue (?)', 'AGO_Price', 'PMS_Price', 'Lubricant_Price',
       'Diesel_Price', 'LPG_Price', 'Product_Category', 'Shift', 'Supervisor'],
      dtype='object')

In [12]:
data.head(1)

,Date,Station_Name,AGO_Sales (L),PMS_Sales (L),Lubricant_Sales (L),Diesel_Sales (L),LPG_Sales (kg),Total_Revenue (?),AGO_Price,PMS_Price,Lubricant_Price,Diesel_Price,LPG_Price,Product_Category,Shift,Supervisor
0,2025-01-01,Idimu,9751,14423,991,14362,1407,31642990,750,650,2000,820,850,Lubricant,Morning,Mr. John

In [14]:
data = data.rename(columns = {"Station_Name": "Station Name"})

In [15]:
data.head(1)

,Date,Station Name,AGO_Sales (L),PMS_Sales (L),Lubricant_Sales (L),Diesel_Sales (L),LPG_Sales (kg),Total_Revenue (?),AGO_Price,PMS_Price,Lubricant_Price,Diesel_Price,LPG_Price,Product_Category,Shift,Supervisor
0,2025-01-01,Idimu,9751,14423,991,14362,1407,31642990,750,650,2000,820,850,Lubricant,Morning,Mr. John

In [16]:
data.columns

Index(['Date', 'Station Name', 'AGO_Sales (L)', 'PMS_Sales (L)',
       'Lubricant_Sales (L)', 'Diesel_Sales (L)', 'LPG_Sales (kg)',
       'Total_Revenue (?)', 'AGO_Price', 'PMS_Price', 'Lubricant_Price',
       'Diesel_Price', 'LPG_Price', 'Product_Category', 'Shift', 'Supervisor'],
      dtype='object')

In [19]:
data = data.rename(columns = {
    "Station_Name": "Station Name",
    'AGO_Sales (L)': 'AGO Sales (L)',
    'PMS_Sales (L)': 'PMS Sales (L)',
    'Lubricant_Sales (L)': 'Lubricant Sales (L)', 
    'Diesel_Sales (L)': 'Diesel Sales (L)', 
    'LPG_Sales (kg)': 'LPG Sales (kg)',
    'Total_Revenue (?)': 'Total Revenue', 
    'AGO_Price': 'AGO Price', 
    'PMS_Price': 'PMS Price', 
    'Lubricant_Price': 'Lubricant Price',
    'Diesel_Price': 'Diesel Price', 
    'LPG_Price': 'LPG Price', 
    'Product_Category': 'Product Category'
    
    })

In [20]:
data.columns

Index(['Date', 'Station Name', 'AGO Sales (L)', 'PMS Sales (L)',
       'Lubricant Sales (L)', 'Diesel Sales (L)', 'LPG Sales (kg)',
       'Total Revenue', 'AGO Price', 'PMS Price', 'Lubricant Price',
       'Diesel Price', 'LPG Price', 'Product Category', 'Shift', 'Supervisor'],
      dtype='object')

In [21]:
data.head(1)

,Date,Station Name,AGO Sales (L),PMS Sales (L),Lubricant Sales (L),Diesel Sales (L),LPG Sales (kg),Total Revenue,AGO Price,PMS Price,Lubricant Price,Diesel Price,LPG Price,Product Category,Shift,Supervisor
0,2025-01-01,Idimu,9751,14423,991,14362,1407,31642990,750,650,2000,820,850,Lubricant,Morning,Mr. John

In [23]:
data.shape

(500, 16)

In [24]:
data.isnull().sum()

Date                   0
Station Name           0
AGO Sales (L)          0
PMS Sales (L)          0
Lubricant Sales (L)    0
Diesel Sales (L)       0
LPG Sales (kg)         0
Total Revenue          0
AGO Price              0
PMS Price              0
Lubricant Price        0
Diesel Price           0
LPG Price              0
Product Category       0
Shift                  0
Supervisor             0
dtype: int64

In [25]:
data.isna().sum()

Date                   0
Station Name           0
AGO Sales (L)          0
PMS Sales (L)          0
Lubricant Sales (L)    0
Diesel Sales (L)       0
LPG Sales (kg)         0
Total Revenue          0
AGO Price              0
PMS Price              0
Lubricant Price        0
Diesel Price           0
LPG Price              0
Product Category       0
Shift                  0
Supervisor             0
dtype: int64

In [26]:
data.drop(columns= "Shift", inplace= True)

In [27]:
data.columns

Index(['Date', 'Station Name', 'AGO Sales (L)', 'PMS Sales (L)',
       'Lubricant Sales (L)', 'Diesel Sales (L)', 'LPG Sales (kg)',
       'Total Revenue', 'AGO Price', 'PMS Price', 'Lubricant Price',
       'Diesel Price', 'LPG Price', 'Product Category', 'Supervisor'],
      dtype='object')

In [28]:
data

,Date,Station Name,AGO Sales (L),PMS Sales (L),Lubricant Sales (L),Diesel Sales (L),LPG Sales (kg),Total Revenue,AGO Price,PMS Price,Lubricant Price,Diesel Price,LPG Price,Product Category,Supervisor
0,2025-01-01,Idimu,9751,14423,991,14362,1407,31642990,750,650,2000,820,850,Lubricant,Mr. John
1,2025-01-02,Iwaya,5866,12731,1427,11577,2207,26897740,750,650,2000,820,850,Automotive Fuel,Mrs. Chika
2,2025-01-03,Maryland,10568,21058,884,14609,2112,37156280,750,650,2000,820,850,Lubricant,Mr. John
3,2025-01-04,Idimu,11098,11588,679,9188,2465,26843110,750,650,2000,820,850,Automotive Fuel,Ms. Ada
4,2025-01-05,Iwaya,10284,10074,662,16289,1824,30492480,750,650,2000,820,850,Cooking Gas,Mr. Tunde
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,2025-02-15,Idimu,5845,15469,595,8390,2751,24846750,750,650,2000,820,850,Lubricant,Mr. Tunde
496,2025-02-16,Iwaya,6578,17105,1170,18183,2642,35547510,750,650,2000,820,850,Automotive Fuel,Ms. Ada
497,2025-02-17,Maryland,5797,16975,909,19810,1316,34562300,750,650,2000,820,850,Lubricant,Mr. Tunde
498,2025-02-18,Idimu,8426,12824,598,15446,1234,29565720,750,650,2000,820,850,Lubricant,Mr. Tunde
499,2025-02-19,Iwaya,6467,27636,1119,11349,2605,36572080,750,650,2000,820,850,Lubricant,Ms. Ada

In [29]:
data.head(1)

,Date,Station Name,AGO Sales (L),PMS Sales (L),Lubricant Sales (L),Diesel Sales (L),LPG Sales (kg),Total Revenue,AGO Price,PMS Price,Lubricant Price,Diesel Price,LPG Price,Product Category,Supervisor
0,2025-01-01,Idimu,9751,14423,991,14362,1407,31642990,750,650,2000,820,850,Lubricant,Mr. John

In [30]:
data.to_csv("cleaned fuel data.csv", index= False)