In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("Housing.csv")

In [4]:
data.head(1)

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished

In [5]:
data.isna().sum()

price               0
area                0
bedrooms            0
bathrooms           0
stories             0
mainroad            0
guestroom           0
basement            0
hotwaterheating     0
airconditioning     0
parking             0
prefarea            0
furnishingstatus    0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545 entries, 0 to 544
Data columns (total 13 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   price             545 non-null    int64
 1   area              545 non-null    int64
 2   bedrooms          545 non-null    int64
 3   bathrooms         545 non-null    int64
 4   stories           545 non-null    int64
 5   mainroad          545 non-null    object
 6   guestroom         545 non-null    object
 7   basement          545 non-null    object
 8   hotwaterheating   545 non-null    object
 9   airconditioning   545 non-null    object
 10  parking           545 non-null    int64
 11  prefarea          545 non-null    object
 12  furnishingstatus  545 non-null    object
dtypes: int64(6), object(7)
memory usage: 55.5+ KB

In [7]:
data.columns

Index(['price', 'area', 'bedrooms', 'bathrooms', 'stories', 'mainroad',
       'guestroom', 'basement', 'hotwaterheating', 'airconditioning',
       'parking', 'prefarea', 'furnishingstatus'],
      dtype='object')

In [8]:
data=data.rename(columns={
    'price': 'Price', 
    'area': 'Area', 
    'bedrooms': 'Bedrooms', 
    'bathrooms': 'Bathrooms', 
    'stories': 'Stories', 
    'mainroad': 'Main Road',
       'guestroom': 'Guest Room', 
       'basement': 'Basement', 
       'hotwaterheating': 'Hot Water Heating', 
       'airconditioning': 'Air Conditioning',
       'parking': 'Parking', 
       'prefarea': 'Preferred Area', 
       'furnishingstatus': 'Furnishing Status'
})

In [9]:
data.columns

Index(['Price', 'Area', 'Bedrooms', 'Bathrooms', 'Stories', 'Main Road',
       'Guest Room', 'Basement', 'Hot Water Heating', 'Air Conditioning',
       'Parking', 'Preferred Area', 'Furnishing Status'],
      dtype='object')

In [10]:
data['Preferred Area']

0      yes
1       no
2      yes
3      yes
4       no
      ...
540     no
541     no
542     no
543     no
544     no
Name: Preferred Area, Length: 545, dtype: object

In [11]:
data.drop(columns='Preferred Area',inplace=True)

In [12]:
data.columns

Index(['Price', 'Area', 'Bedrooms', 'Bathrooms', 'Stories', 'Main Road',
       'Guest Room', 'Basement', 'Hot Water Heating', 'Air Conditioning',
       'Parking', 'Furnishing Status'],
      dtype='object')

In [13]:
data['Area']

0      7420
1      8960
2      9960
3      7500
4      7420
       ...
540    3000
541    2400
542    3620
543    2910
544    3850
Name: Area, Length: 545, dtype: int64

In [14]:
data['Price']

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: Price, Length: 545, dtype: int64

In [15]:
data.to_csv("clenaed_housing_data.csv",index=False)