In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("Employee_Salaries.csv")

In [4]:
data.head(1)

,Department,Department_Name,Division,Gender,Base_Salary,Overtime_Pay,Longevity_Pay,Grade
0,ABS,Alcohol Beverage Services,ABS 85 Administration,M,175873.0,0.0,0.0,M2

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10291 entries, 0 to 10290
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Department       10291 non-null  object
 1   Department_Name  10291 non-null  object
 2   Division         10291 non-null  object
 3   Gender           10291 non-null  object
 4   Base_Salary      10291 non-null  float64
 5   Overtime_Pay     10291 non-null  float64
 6   Longevity_Pay    10291 non-null  float64
 7   Grade            10258 non-null  object
dtypes: float64(3), object(5)
memory usage: 643.3+ KB

In [6]:
data.isna().sum()

Department          0
Department_Name     0
Division            0
Gender              0
Base_Salary         0
Overtime_Pay        0
Longevity_Pay       0
Grade              33
dtype: int64

In [7]:
data['Grade']

0         M2
1         M3
2         M3
3         21
4         16
        ...
10286    N28
10287    NaN
10288    N18
10289    N21
10290    N35
Name: Grade, Length: 10291, dtype: object

In [8]:
data.fillna("unknown",inplace=True)

In [9]:
data['Grade']

0             M2
1             M3
2             M3
3             21
4             16
          ...
10286        N28
10287    unknown
10288        N18
10289        N21
10290        N35
Name: Grade, Length: 10291, dtype: object

In [10]:
data.isna().sum()

Department         0
Department_Name    0
Division           0
Gender             0
Base_Salary        0
Overtime_Pay       0
Longevity_Pay      0
Grade              0
dtype: int64

In [11]:
data.isnull().sum()

Department         0
Department_Name    0
Division           0
Gender             0
Base_Salary        0
Overtime_Pay       0
Longevity_Pay      0
Grade              0
dtype: int64

In [12]:
data.columns

Index(['Department', 'Department_Name', 'Division', 'Gender', 'Base_Salary',
       'Overtime_Pay', 'Longevity_Pay', 'Grade'],
      dtype='object')

In [15]:
data=data.rename(columns={
    'Department_Name':'Department Name',
    'Base_Salary':'Base Salary',
    'Overtime_Pay':'Overtime Pay',
    'Longevity_Pay':'Longevity Pay'
})

In [16]:
data.columns

Index(['Department', 'Department Name', 'Division', 'Gender', 'Base Salary',
       'Overtime Pay', 'Longevity Pay', 'Grade'],
      dtype='object')

In [17]:
data.head(2)

,Department,Department Name,Division,Gender,Base Salary,Overtime Pay,Longevity Pay,Grade
0,ABS,Alcohol Beverage Services,ABS 85 Administration,M,175873.00,0.0,0.0,M2
1,ABS,Alcohol Beverage Services,ABS 85 Administration,M,145613.36,0.0,0.0,M3

In [18]:
data.drop(columns="Department",inplace=True)

In [19]:
data.columns

Index(['Department Name', 'Division', 'Gender', 'Base Salary', 'Overtime Pay',
       'Longevity Pay', 'Grade'],
      dtype='object')

In [20]:
data.head(1)

,Department Name,Division,Gender,Base Salary,Overtime Pay,Longevity Pay,Grade
0,Alcohol Beverage Services,ABS 85 Administration,M,175873.0,0.0,0.0,M2

In [21]:
data.to_csv("cleaned_employee_salary_data.csv",index=False)