In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.3'

In [3]:
data = pd.read_csv("Students Social Media Addiction.csv")

In [4]:
data.head(1)

,Student_ID,Age,Gender,Academic_Level,Country,Avg_Daily_Usage_Hours,Most_Used_Platform,Affects_Academic_Performance,Sleep_Hours_Per_Night,Mental_Health_Score,Relationship_Status,Conflicts_Over_Social_Media,Addicted_Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,3,8

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Student_ID                    705 non-null    int64
 1   Age                           705 non-null    int64
 2   Gender                        705 non-null    object
 3   Academic_Level                705 non-null    object
 4   Country                       705 non-null    object
 5   Avg_Daily_Usage_Hours         705 non-null    float64
 6   Most_Used_Platform            705 non-null    object
 7   Affects_Academic_Performance  705 non-null    object
 8   Sleep_Hours_Per_Night         705 non-null    float64
 9   Mental_Health_Score           705 non-null    int64
 10  Relationship_Status           705 non-null    object
 11  Conflicts_Over_Social_Media   705 non-null    int64
 12  Addicted_Score                705 non-null    int64
dtypes: float64(2), int64(5), object(6)
memory usage: 71.7+ KB

In [6]:
data.columns

Index(['Student_ID', 'Age', 'Gender', 'Academic_Level', 'Country',
       'Avg_Daily_Usage_Hours', 'Most_Used_Platform',
       'Affects_Academic_Performance', 'Sleep_Hours_Per_Night',
       'Mental_Health_Score', 'Relationship_Status',
       'Conflicts_Over_Social_Media', 'Addicted_Score'],
      dtype='object')

In [7]:
data.isna().sum()

Student_ID                      0
Age                             0
Gender                          0
Academic_Level                  0
Country                         0
Avg_Daily_Usage_Hours           0
Most_Used_Platform              0
Affects_Academic_Performance    0
Sleep_Hours_Per_Night           0
Mental_Health_Score             0
Relationship_Status             0
Conflicts_Over_Social_Media     0
Addicted_Score                  0
dtype: int64

In [8]:
data.isnull().sum()

Student_ID                      0
Age                             0
Gender                          0
Academic_Level                  0
Country                         0
Avg_Daily_Usage_Hours           0
Most_Used_Platform              0
Affects_Academic_Performance    0
Sleep_Hours_Per_Night           0
Mental_Health_Score             0
Relationship_Status             0
Conflicts_Over_Social_Media     0
Addicted_Score                  0
dtype: int64

In [9]:
#now we rename the column names

data.columns

Index(['Student_ID', 'Age', 'Gender', 'Academic_Level', 'Country',
       'Avg_Daily_Usage_Hours', 'Most_Used_Platform',
       'Affects_Academic_Performance', 'Sleep_Hours_Per_Night',
       'Mental_Health_Score', 'Relationship_Status',
       'Conflicts_Over_Social_Media', 'Addicted_Score'],
      dtype='object')

In [10]:
#or we can first remove the columns which we dont need

data.drop(columns= "Conflicts_Over_Social_Media", inplace= True)

In [11]:
data.columns

Index(['Student_ID', 'Age', 'Gender', 'Academic_Level', 'Country',
       'Avg_Daily_Usage_Hours', 'Most_Used_Platform',
       'Affects_Academic_Performance', 'Sleep_Hours_Per_Night',
       'Mental_Health_Score', 'Relationship_Status', 'Addicted_Score'],
      dtype='object')

In [14]:
# to rename the column names we use "rename"
data = data.rename(columns= {
    'Student_ID': 'Student ID',
    'Academic_Level': 'Academic Level',
    'Avg_Daily_Usage_Hours': 'Average Daily usage Hours',
    'Most_Used_Platform': 'Most Used Platform',
    'Affects_Academic_Performance': 'Affects Academic Performance', 
    'Sleep_Hours_Per_Night': 'Sleep Hours Per Night',
    'Mental_Health_Score': 'Mental Health Score', 
    'Relationship_Status': 'Relationship Status', 
    'Addicted_Score':'Addicted Score'


})

In [15]:
# so now we have rename our column names, to check it

data.columns

Index(['Student ID', 'Age', 'Gender', 'Academic Level', 'Country',
       'Average Daily usage Hours', 'Most Used Platform',
       'Affects Academic Performance', 'Sleep Hours Per Night',
       'Mental Health Score', 'Relationship Status', 'Addicted Score'],
      dtype='object')

In [16]:
data.head(1)

,Student ID,Age,Gender,Academic Level,Country,Average Daily usage Hours,Most Used Platform,Affects Academic Performance,Sleep Hours Per Night,Mental Health Score,Relationship Status,Addicted Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,8

In [17]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 705 entries, 0 to 704
Data columns (total 12 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Student ID                    705 non-null    int64
 1   Age                           705 non-null    int64
 2   Gender                        705 non-null    object
 3   Academic Level                705 non-null    object
 4   Country                       705 non-null    object
 5   Average Daily usage Hours     705 non-null    float64
 6   Most Used Platform            705 non-null    object
 7   Affects Academic Performance  705 non-null    object
 8   Sleep Hours Per Night         705 non-null    float64
 9   Mental Health Score           705 non-null    int64
 10  Relationship Status           705 non-null    object
 11  Addicted Score                705 non-null    int64
dtypes: float64(2), int64(4), object(6)
memory usage: 66.2+ KB

In [18]:
data.shape

(705, 12)

In [ ]:
# so now we complete cleaning our data, this is a simple data and the requirements are also the basics so we can export our data

In [19]:
data.to_csv("cleaned_student_data.csv", index= False)

In [21]:
pd.read_csv("cleaned_student_data.csv")

,Student ID,Age,Gender,Academic Level,Country,Average Daily usage Hours,Most Used Platform,Affects Academic Performance,Sleep Hours Per Night,Mental Health Score,Relationship Status,Addicted Score
0,1,19,Female,Undergraduate,Bangladesh,5.2,Instagram,Yes,6.5,6,In Relationship,8
1,2,22,Male,Graduate,India,2.1,Twitter,No,7.5,8,Single,3
2,3,20,Female,Undergraduate,USA,6.0,TikTok,Yes,5.0,5,Complicated,9
3,4,18,Male,High School,UK,3.0,YouTube,No,7.0,7,Single,4
4,5,21,Male,Graduate,Canada,4.5,Facebook,Yes,6.0,6,In Relationship,7
...,...,...,...,...,...,...,...,...,...,...,...,...
700,701,20,Female,Undergraduate,Italy,4.7,TikTok,No,7.2,7,In Relationship,5
701,702,23,Male,Graduate,Russia,6.8,Instagram,Yes,5.9,4,Single,9
702,703,21,Female,Undergraduate,China,5.6,WeChat,Yes,6.7,6,In Relationship,7
703,704,24,Male,Graduate,Japan,4.3,Twitter,No,7.5,8,Single,4
704,705,19,Female,Undergraduate,Poland,6.2,Facebook,Yes,6.3,5,Single,8