In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("temu_product_sales_dataset.csv")

In [4]:
data.head(1)

,leve_1_category_id,leve_1_category_name,leve_2_category_id,leve_2_category_name,title,goods_id,sales_info,category_id,visible,sales_volume,price_str,price,goods_score,comments_num_raw,comment_num
0,885,"Patio, Lawn & Garden",888,Outdoor Supplies & Patio Furniture,1pc 30 LED Bubble Ball Lights Solar String Lig...,6017592186061056,"5,560 sold",891,True,5560.0,655,6.55,4.7,(200),200.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95189 entries, 0 to 95188
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   leve_1_category_id    95189 non-null  int64
 1   leve_1_category_name  95189 non-null  object
 2   leve_2_category_id    95189 non-null  int64
 3   leve_2_category_name  95189 non-null  object
 4   title                 95189 non-null  object
 5   goods_id              95189 non-null  int64
 6   sales_info            93480 non-null  object
 7   category_id           95189 non-null  int64
 8   visible               95189 non-null  bool
 9   sales_volume          93480 non-null  float64
 10  price_str             95189 non-null  int64
 11  price                 95189 non-null  float64
 12  goods_score           81070 non-null  float64
 13  comments_num_raw      81070 non-null  object
 14  comment_num           81070 non-null  float64
dtypes: bool(1), float64(4), int64(5), object(5)
memory usage: 10.3+ MB

In [6]:
data.isna().sum()

leve_1_category_id          0
leve_1_category_name        0
leve_2_category_id          0
leve_2_category_name        0
title                       0
goods_id                    0
sales_info               1709
category_id                 0
visible                     0
sales_volume             1709
price_str                   0
price                       0
goods_score             14119
comments_num_raw        14119
comment_num             14119
dtype: int64

In [7]:
data.fillna("undefined value",inplace=True)

C:\Users\DELL\AppData\Local\Temp\ipykernel_14516\2549502299.py:1: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'undefined value' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  data.fillna("undefined value",inplace=True)

In [8]:
data.isna().sum()

leve_1_category_id      0
leve_1_category_name    0
leve_2_category_id      0
leve_2_category_name    0
title                   0
goods_id                0
sales_info              0
category_id             0
visible                 0
sales_volume            0
price_str               0
price                   0
goods_score             0
comments_num_raw        0
comment_num             0
dtype: int64

In [9]:
data.columns

Index(['leve_1_category_id', 'leve_1_category_name', 'leve_2_category_id',
       'leve_2_category_name', 'title', 'goods_id', 'sales_info',
       'category_id', 'visible', 'sales_volume', 'price_str', 'price',
       'goods_score', 'comments_num_raw', 'comment_num'],
      dtype='object')

In [10]:
data.head(1)

,leve_1_category_id,leve_1_category_name,leve_2_category_id,leve_2_category_name,title,goods_id,sales_info,category_id,visible,sales_volume,price_str,price,goods_score,comments_num_raw,comment_num
0,885,"Patio, Lawn & Garden",888,Outdoor Supplies & Patio Furniture,1pc 30 LED Bubble Ball Lights Solar String Lig...,6017592186061056,"5,560 sold",891,True,5560.0,655,6.55,4.7,(200),200.0

In [11]:
data.drop(columns=['comments_num_raw', 'comment_num'],inplace=True)

In [12]:
data.columns

Index(['leve_1_category_id', 'leve_1_category_name', 'leve_2_category_id',
       'leve_2_category_name', 'title', 'goods_id', 'sales_info',
       'category_id', 'visible', 'sales_volume', 'price_str', 'price',
       'goods_score'],
      dtype='object')

In [13]:
data['price_str']

0        655
1        589
2        489
3        159
4        839
        ...
95184    399
95185    399
95186    399
95187    449
95188    439
Name: price_str, Length: 95189, dtype: int64

In [14]:
data['price']

0        6.55
1        5.89
2        4.89
3        1.59
4        8.39
         ...
95184    3.99
95185    3.99
95186    3.99
95187    4.49
95188    4.39
Name: price, Length: 95189, dtype: float64

In [15]:
data.columns

Index(['leve_1_category_id', 'leve_1_category_name', 'leve_2_category_id',
       'leve_2_category_name', 'title', 'goods_id', 'sales_info',
       'category_id', 'visible', 'sales_volume', 'price_str', 'price',
       'goods_score'],
      dtype='object')

In [16]:
data=data.rename(columns={
    'leve_1_category_id': 'Level 1 Category ID', 
    'leve_1_category_name': 'Level 1 Category Name', 
    'leve_2_category_id': 'Level 2 Category ID',
    'leve_2_category_name': 'Level 2 Category Name', 
    'title': 'Title', 
    'goods_id': 'Goods ID', 
    'sales_info': 'Sales Info',
    'category_id': 'Category ID', 
    'visible': 'Visible', 
    'sales_volume': 'Sales Volume', 
    'price_str': 'Price Str', 
    'price': 'Price',
    'goods_score': 'Goods Score'
})

In [17]:
data.columns

Index(['Level 1 Category ID', 'Level 1 Category Name', 'Level 2 Category ID',
       'Level 2 Category Name', 'Title', 'Goods ID', 'Sales Info',
       'Category ID', 'Visible', 'Sales Volume', 'Price Str', 'Price',
       'Goods Score'],
      dtype='object')

In [18]:
data.head(1)

,Level 1 Category ID,Level 1 Category Name,Level 2 Category ID,Level 2 Category Name,Title,Goods ID,Sales Info,Category ID,Visible,Sales Volume,Price Str,Price,Goods Score
0,885,"Patio, Lawn & Garden",888,Outdoor Supplies & Patio Furniture,1pc 30 LED Bubble Ball Lights Solar String Lig...,6017592186061056,"5,560 sold",891,True,5560.0,655,6.55,4.7

In [19]:
data.head(2)

,Level 1 Category ID,Level 1 Category Name,Level 2 Category ID,Level 2 Category Name,Title,Goods ID,Sales Info,Category ID,Visible,Sales Volume,Price Str,Price,Goods Score
0,885,"Patio, Lawn & Garden",888,Outdoor Supplies & Patio Furniture,1pc 30 LED Bubble Ball Lights Solar String Lig...,6017592186061056,"5,560 sold",891,True,5560.0,655,6.55,4.7
1,885,"Patio, Lawn & Garden",888,Outdoor Supplies & Patio Furniture,50 LED Solar Sakura Lights Outdoor Waterproof ...,6017592186060804,"3,569 sold",891,True,3569.0,589,5.89,4.7

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95189 entries, 0 to 95188
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Level 1 Category ID    95189 non-null  int64
 1   Level 1 Category Name  95189 non-null  object
 2   Level 2 Category ID    95189 non-null  int64
 3   Level 2 Category Name  95189 non-null  object
 4   Title                  95189 non-null  object
 5   Goods ID               95189 non-null  int64
 6   Sales Info             95189 non-null  object
 7   Category ID            95189 non-null  int64
 8   Visible                95189 non-null  bool
 9   Sales Volume           95189 non-null  object
 10  Price Str              95189 non-null  int64
 11  Price                  95189 non-null  float64
 12  Goods Score            95189 non-null  object
dtypes: bool(1), float64(1), int64(5), object(6)
memory usage: 8.8+ MB

In [21]:
data.to_csv("cleaned_temu_data.csv",index=False)