In [1]:
import pandas as pd

In [4]:
data=pd.read_csv("Top 50 US Tech Companies 2022 - 2023.csv")

In [5]:
data.head(1)

,Company Name,Industry,Sector,HQ State,Founding Year,Annual Revenue 2022-2023 (USD in Billions),Market Cap (USD in Trillions),Stock Name,Annual Income Tax in 2022-2023 (USD in Billions),Employee Size
0,Apple Inc.,Technology,Consumer Electronics,California,1976,387.53,2.52,AAPL,18.314,164000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Company Name                                      50 non-null     object
 1   Industry                                          50 non-null     object
 2   Sector                                            50 non-null     object
 3   HQ State                                          50 non-null     object
 4   Founding Year                                     50 non-null     int64
 5   Annual Revenue 2022-2023 (USD in Billions)        50 non-null     float64
 6   Market Cap (USD in Trillions)                     50 non-null     float64
 7   Stock Name                                        50 non-null     object
 8   Annual Income Tax in 2022-2023 (USD in Billions)  50 non-null     float64
 9   Employee Size                                     50 non-null     int64
dtypes: float64(3), int64(2), object(5)
memory usage: 4.0+ KB

In [7]:
data.isna().sum()

Company Name                                        0
Industry                                            0
Sector                                              0
HQ State                                            0
Founding Year                                       0
Annual Revenue 2022-2023 (USD in Billions)          0
Market Cap (USD in Trillions)                       0
Stock Name                                          0
Annual Income Tax in 2022-2023 (USD in Billions)    0
Employee Size                                       0
dtype: int64

In [8]:
data.columns

Index(['Company Name', 'Industry', 'Sector', 'HQ State', 'Founding Year',
       'Annual Revenue 2022-2023 (USD in Billions)',
       'Market Cap (USD in Trillions)', 'Stock Name',
       'Annual Income Tax in 2022-2023 (USD in Billions)', 'Employee Size'],
      dtype='object')

In [9]:
data=data.rename(columns={
    'Annual Revenue 2022-2023 (USD in Billions)': 'Annual Revenue',
    'Market Cap (USD in Trillions)': 'Market Cap',
    'Annual Income Tax in 2022-2023 (USD in Billions)': 'Annual Income Tax'

})

In [10]:
data.columns

Index(['Company Name', 'Industry', 'Sector', 'HQ State', 'Founding Year',
       'Annual Revenue', 'Market Cap', 'Stock Name', 'Annual Income Tax',
       'Employee Size'],
      dtype='object')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Company Name       50 non-null     object
 1   Industry           50 non-null     object
 2   Sector             50 non-null     object
 3   HQ State           50 non-null     object
 4   Founding Year      50 non-null     int64
 5   Annual Revenue     50 non-null     float64
 6   Market Cap         50 non-null     float64
 7   Stock Name         50 non-null     object
 8   Annual Income Tax  50 non-null     float64
 9   Employee Size      50 non-null     int64
dtypes: float64(3), int64(2), object(5)
memory usage: 4.0+ KB

In [12]:
data.to_csv("cleaned_IT_companies_data.csv",index=False)