In [1]:
import pandas as pd

In [3]:
data= pd.read_csv("Walmart_customer_purchases.csv")

In [4]:
data.head(1)

,Customer_ID,Age,Gender,City,Category,Product_Name,Purchase_Date,Purchase_Amount,Payment_Method,Discount_Applied,Rating,Repeat_Customer
0,84607c1f-910c-44d5-b89f-e1ee06dd34c0,49,Female,New Cynthia,Electronics,Smartphone,2024-08-30,253.26,Cash on Delivery,No,1,Yes

In [5]:
data.columns

Index(['Customer_ID', 'Age', 'Gender', 'City', 'Category', 'Product_Name',
       'Purchase_Date', 'Purchase_Amount', 'Payment_Method',
       'Discount_Applied', 'Rating', 'Repeat_Customer'],
      dtype='object')

In [6]:
data= data.rename(columns={
    'Customer_ID': 'Customer ID',
    'Product_Name': 'Product Name',
    'Purchase_Date': 'Purchase Date', 
    'Purchase_Amount': 'Purchase Amount', 
    'Payment_Method': 'Payment Method',
    'Discount_Applied': 'Discount Applied',
    'Repeat_Customer': 'Repeat Customer'


})

In [7]:
data.columns

Index(['Customer ID', 'Age', 'Gender', 'City', 'Category', 'Product Name',
       'Purchase Date', 'Purchase Amount', 'Payment Method',
       'Discount Applied', 'Rating', 'Repeat Customer'],
      dtype='object')

In [8]:
data.head(1)

,Customer ID,Age,Gender,City,Category,Product Name,Purchase Date,Purchase Amount,Payment Method,Discount Applied,Rating,Repeat Customer
0,84607c1f-910c-44d5-b89f-e1ee06dd34c0,49,Female,New Cynthia,Electronics,Smartphone,2024-08-30,253.26,Cash on Delivery,No,1,Yes

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer ID       50000 non-null  object
 1   Age               50000 non-null  int64
 2   Gender            50000 non-null  object
 3   City              50000 non-null  object
 4   Category          50000 non-null  object
 5   Product Name      50000 non-null  object
 6   Purchase Date     50000 non-null  object
 7   Purchase Amount   50000 non-null  float64
 8   Payment Method    50000 non-null  object
 9   Discount Applied  50000 non-null  object
 10  Rating            50000 non-null  int64
 11  Repeat Customer   50000 non-null  object
dtypes: float64(1), int64(2), object(9)
memory usage: 4.6+ MB

In [10]:
data['Purchase Date'] = pd.to_datetime(data['Purchase Date'])

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Customer ID       50000 non-null  object
 1   Age               50000 non-null  int64
 2   Gender            50000 non-null  object
 3   City              50000 non-null  object
 4   Category          50000 non-null  object
 5   Product Name      50000 non-null  object
 6   Purchase Date     50000 non-null  datetime64[ns]
 7   Purchase Amount   50000 non-null  float64
 8   Payment Method    50000 non-null  object
 9   Discount Applied  50000 non-null  object
 10  Rating            50000 non-null  int64
 11  Repeat Customer   50000 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(2), object(8)
memory usage: 4.6+ MB

In [12]:
data['Purchase Date']

0       2024-08-30
1       2024-12-21
2       2024-12-26
3       2024-11-04
4       2024-10-07
           ...
49995   2024-11-18
49996   2024-11-19
49997   2024-02-11
49998   2024-08-31
49999   2024-09-18
Name: Purchase Date, Length: 50000, dtype: datetime64[ns]

In [13]:
data.to_csv("cleaned_walmart data.csv", index= False)