In [ ]:
import pandas as pd

In [3]:
data=pd.read_csv("appointments.csv")

In [4]:
data.head()

,appointment_id,patient_id,doctor_id,appointment_date,appointment_time,reason_for_visit,status
0,A001,P034,D009,2023-08-09,15:15:00,Therapy,Scheduled
1,A002,P032,D004,2023-06-09,14:30:00,Therapy,No-show
2,A003,P048,D004,2023-06-28,8:00:00,Consultation,Cancelled
3,A004,P025,D006,2023-09-01,9:15:00,Consultation,Cancelled
4,A005,P040,D003,2023-07-06,12:45:00,Emergency,No-show

In [5]:
data.isna().sum()

appointment_id      0
patient_id          0
doctor_id           0
appointment_date    0
appointment_time    0
reason_for_visit    0
status              0
dtype: int64

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   appointment_id    200 non-null    object
 1   patient_id        200 non-null    object
 2   doctor_id         200 non-null    object
 3   appointment_date  200 non-null    object
 4   appointment_time  200 non-null    object
 5   reason_for_visit  200 non-null    object
 6   status            200 non-null    object
dtypes: object(7)
memory usage: 11.1+ KB

In [7]:
data.columns

Index(['appointment_id', 'patient_id', 'doctor_id', 'appointment_date',
       'appointment_time', 'reason_for_visit', 'status'],
      dtype='object')

In [8]:
data=data.rename(columns={
    'appointment_id': 'Appointment ID', 
    'patient_id': 'Patient ID', 
    'doctor_id': 'Doctor ID', 
    'appointment_date': 'Appointment Date',
    'appointment_time': 'Appointment Time', 
    'reason_for_visit': 'Reason for Visit', 
    'status': 'Status'
})

In [9]:
data.columns

Index(['Appointment ID', 'Patient ID', 'Doctor ID', 'Appointment Date',
       'Appointment Time', 'Reason for Visit', 'Status'],
      dtype='object')

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Appointment ID    200 non-null    object
 1   Patient ID        200 non-null    object
 2   Doctor ID         200 non-null    object
 3   Appointment Date  200 non-null    object
 4   Appointment Time  200 non-null    object
 5   Reason for Visit  200 non-null    object
 6   Status            200 non-null    object
dtypes: object(7)
memory usage: 11.1+ KB

In [12]:
data['Appointment Date']=pd.to_datetime(data['Appointment Date'], errors='coerce')

In [14]:
data['Appointment Time']=pd.to_datetime(data['Appointment Time'], errors='coerce')

C:\Users\DELL\AppData\Local\Temp\ipykernel_31544\200683728.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  data['Appointment Time']=pd.to_datetime(data['Appointment Time'], errors='coerce')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Appointment ID    200 non-null    object
 1   Patient ID        200 non-null    object
 2   Doctor ID         200 non-null    object
 3   Appointment Date  200 non-null    datetime64[ns]
 4   Appointment Time  200 non-null    datetime64[ns]
 5   Reason for Visit  200 non-null    object
 6   Status            200 non-null    object
dtypes: datetime64[ns](2), object(5)
memory usage: 11.1+ KB

In [16]:
data.head()

,Appointment ID,Patient ID,Doctor ID,Appointment Date,Appointment Time,Reason for Visit,Status
0,A001,P034,D009,2023-08-09,2025-07-24 15:15:00,Therapy,Scheduled
1,A002,P032,D004,2023-06-09,2025-07-24 14:30:00,Therapy,No-show
2,A003,P048,D004,2023-06-28,2025-07-24 08:00:00,Consultation,Cancelled
3,A004,P025,D006,2023-09-01,2025-07-24 09:15:00,Consultation,Cancelled
4,A005,P040,D003,2023-07-06,2025-07-24 12:45:00,Emergency,No-show

In [18]:
#now we make two more columns of DATE and TIME

from datetime import datetime

data['time']= pd.DatetimeIndex(data['Appointment Time']).hour

In [19]:
data.head()

,Appointment ID,Patient ID,Doctor ID,Appointment Date,Appointment Time,Reason for Visit,Status,time
0,A001,P034,D009,2023-08-09,2025-07-24 15:15:00,Therapy,Scheduled,15
1,A002,P032,D004,2023-06-09,2025-07-24 14:30:00,Therapy,No-show,14
2,A003,P048,D004,2023-06-28,2025-07-24 08:00:00,Consultation,Cancelled,8
3,A004,P025,D006,2023-09-01,2025-07-24 09:15:00,Consultation,Cancelled,9
4,A005,P040,D003,2023-07-06,2025-07-24 12:45:00,Emergency,No-show,12

In [20]:
data.to_csv("cleaned_appointments_data.csv",index=False)