In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("billing.csv")

In [4]:
data.head()

,bill_id,patient_id,treatment_id,bill_date,amount,payment_method,payment_status
0,B001,P034,T001,2023-08-09,3941.97,Insurance,Pending
1,B002,P032,T002,2023-06-09,4158.44,Insurance,Paid
2,B003,P048,T003,2023-06-28,3731.55,Insurance,Paid
3,B004,P025,T004,2023-09-01,4799.86,Insurance,Failed
4,B005,P040,T005,2023-07-06,582.05,Credit Card,Pending

In [5]:
data.isna().sum()

bill_id           0
patient_id        0
treatment_id      0
bill_date         0
amount            0
payment_method    0
payment_status    0
dtype: int64

In [6]:
data.columns

Index(['bill_id', 'patient_id', 'treatment_id', 'bill_date', 'amount',
       'payment_method', 'payment_status'],
      dtype='object')

In [7]:
data=data.rename(columns={
    'bill_id': 'Bill ID', 
    'patient_id': 'Patient ID', 
    'treatment_id': 'Treatment ID', 
    'bill_date': 'Bill Date', 
    'amount': 'Amount',
    'payment_method': 'Payment Method', 
    'payment_status': 'Payment Status'
})

In [8]:
data.columns

Index(['Bill ID', 'Patient ID', 'Treatment ID', 'Bill Date', 'Amount',
       'Payment Method', 'Payment Status'],
      dtype='object')

In [10]:
data['Bill Date']=pd.to_datetime(data['Bill Date'], errors='coerce')

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Bill ID         200 non-null    object
 1   Patient ID      200 non-null    object
 2   Treatment ID    200 non-null    object
 3   Bill Date       200 non-null    datetime64[ns]
 4   Amount          200 non-null    float64
 5   Payment Method  200 non-null    object
 6   Payment Status  200 non-null    object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 11.1+ KB

In [12]:
data.head()

,Bill ID,Patient ID,Treatment ID,Bill Date,Amount,Payment Method,Payment Status
0,B001,P034,T001,2023-08-09,3941.97,Insurance,Pending
1,B002,P032,T002,2023-06-09,4158.44,Insurance,Paid
2,B003,P048,T003,2023-06-28,3731.55,Insurance,Paid
3,B004,P025,T004,2023-09-01,4799.86,Insurance,Failed
4,B005,P040,T005,2023-07-06,582.05,Credit Card,Pending

In [13]:
data.to_csv("cleaned_billing_data.csv",index=False)