In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("doctors.csv")

In [4]:
data.head()

,doctor_id,first_name,last_name,specialization,phone_number,years_experience,hospital_branch,email
0,D001,David,Taylor,Dermatology,8322010158,17,Westside Clinic,dr.david.taylor@hospital.com
1,D002,Jane,Davis,Pediatrics,9004382050,24,Eastside Clinic,dr.jane.davis@hospital.com
2,D003,Jane,Smith,Pediatrics,8737740598,19,Eastside Clinic,dr.jane.smith@hospital.com
3,D004,David,Jones,Pediatrics,6594221991,28,Central Hospital,dr.david.jones@hospital.com
4,D005,Sarah,Taylor,Dermatology,9118538547,26,Central Hospital,dr.sarah.taylor@hospital.com

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   doctor_id         10 non-null     object
 1   first_name        10 non-null     object
 2   last_name         10 non-null     object
 3   specialization    10 non-null     object
 4   phone_number      10 non-null     int64
 5   years_experience  10 non-null     int64
 6   hospital_branch   10 non-null     object
 7   email             10 non-null     object
dtypes: int64(2), object(6)
memory usage: 772.0+ bytes

In [6]:
data.columns

Index(['doctor_id', 'first_name', 'last_name', 'specialization',
       'phone_number', 'years_experience', 'hospital_branch', 'email'],
      dtype='object')

In [7]:
data=data.rename(columns={
    'doctor_id': 'Doctor ID', 
    'first_name': 'First Name', 
    'last_name': 'Last Name', 
    'specialization': 'Specialization',
    'phone_number': 'Phone Number', 
     'years_experience': 'Years Experience', 
     'hospital_branch': 'Hospital Branch', 
     'email': 'Email'
})

In [8]:
data.columns

Index(['Doctor ID', 'First Name', 'Last Name', 'Specialization',
       'Phone Number', 'Years Experience', 'Hospital Branch', 'Email'],
      dtype='object')

In [9]:
data.head()

,Doctor ID,First Name,Last Name,Specialization,Phone Number,Years Experience,Hospital Branch,Email
0,D001,David,Taylor,Dermatology,8322010158,17,Westside Clinic,dr.david.taylor@hospital.com
1,D002,Jane,Davis,Pediatrics,9004382050,24,Eastside Clinic,dr.jane.davis@hospital.com
2,D003,Jane,Smith,Pediatrics,8737740598,19,Eastside Clinic,dr.jane.smith@hospital.com
3,D004,David,Jones,Pediatrics,6594221991,28,Central Hospital,dr.david.jones@hospital.com
4,D005,Sarah,Taylor,Dermatology,9118538547,26,Central Hospital,dr.sarah.taylor@hospital.com

In [10]:
data.isna().sum()

Doctor ID           0
First Name          0
Last Name           0
Specialization      0
Phone Number        0
Years Experience    0
Hospital Branch     0
Email               0
dtype: int64

In [11]:
data.duplicated().sum()

np.int64(0)

In [12]:
data.drop(columns='Phone Number',inplace=True)

In [13]:
data.head()

,Doctor ID,First Name,Last Name,Specialization,Years Experience,Hospital Branch,Email
0,D001,David,Taylor,Dermatology,17,Westside Clinic,dr.david.taylor@hospital.com
1,D002,Jane,Davis,Pediatrics,24,Eastside Clinic,dr.jane.davis@hospital.com
2,D003,Jane,Smith,Pediatrics,19,Eastside Clinic,dr.jane.smith@hospital.com
3,D004,David,Jones,Pediatrics,28,Central Hospital,dr.david.jones@hospital.com
4,D005,Sarah,Taylor,Dermatology,26,Central Hospital,dr.sarah.taylor@hospital.com

In [14]:
data.to_csv("cleaned_doctors_data.csv",index=False)