In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("patients.csv")

In [4]:
data.head()

,patient_id,first_name,last_name,gender,date_of_birth,contact_number,address,registration_date,insurance_provider,insurance_number,email
0,P001,David,Williams,F,1955-06-04,6939585183,789 Pine Rd,2022-06-23,WellnessCorp,INS840674,david.williams@mail.com
1,P002,Emily,Smith,F,1984-10-12,8228188767,321 Maple Dr,2022-01-15,PulseSecure,INS354079,emily.smith@mail.com
2,P003,Laura,Jones,M,1977-08-21,8397029847,321 Maple Dr,2022-02-07,PulseSecure,INS650929,laura.jones@mail.com
3,P004,Michael,Johnson,F,1981-02-20,9019443432,123 Elm St,2021-03-02,HealthIndia,INS789944,michael.johnson@mail.com
4,P005,David,Wilson,M,1960-06-23,7734463155,123 Elm St,2021-09-29,MedCare Plus,INS788105,david.wilson@mail.com

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   patient_id          50 non-null     object
 1   first_name          50 non-null     object
 2   last_name           50 non-null     object
 3   gender              50 non-null     object
 4   date_of_birth       50 non-null     object
 5   contact_number      50 non-null     int64
 6   address             50 non-null     object
 7   registration_date   50 non-null     object
 8   insurance_provider  50 non-null     object
 9   insurance_number    50 non-null     object
 10  email               50 non-null     object
dtypes: int64(1), object(10)
memory usage: 4.4+ KB

In [6]:
data.isna().sum()

patient_id            0
first_name            0
last_name             0
gender                0
date_of_birth         0
contact_number        0
address               0
registration_date     0
insurance_provider    0
insurance_number      0
email                 0
dtype: int64

In [7]:
data.columns

Index(['patient_id', 'first_name', 'last_name', 'gender', 'date_of_birth',
       'contact_number', 'address', 'registration_date', 'insurance_provider',
       'insurance_number', 'email'],
      dtype='object')

In [8]:
data=data.rename(columns={
    'patient_id': 'Patient ID', 
    'first_name': 'First Name', 
    'last_name': 'Last Name', 
    'gender': 'Gender', 
    'date_of_birth': 'DOB',
    'contact_number': 'Contact Number', 
    'address': 'Address', 
    'registration_date': 'Registration Date',
     'insurance_provider': 'Insurance Provider',
    'insurance_number': 'Insurance Number', 
    'email': 'Email'
})

In [9]:
data.columns

Index(['Patient ID', 'First Name', 'Last Name', 'Gender', 'DOB',
       'Contact Number', 'Address', 'Registration Date', 'Insurance Provider',
       'Insurance Number', 'Email'],
      dtype='object')

In [10]:
data.head()

,Patient ID,First Name,Last Name,Gender,DOB,Contact Number,Address,Registration Date,Insurance Provider,Insurance Number,Email
0,P001,David,Williams,F,1955-06-04,6939585183,789 Pine Rd,2022-06-23,WellnessCorp,INS840674,david.williams@mail.com
1,P002,Emily,Smith,F,1984-10-12,8228188767,321 Maple Dr,2022-01-15,PulseSecure,INS354079,emily.smith@mail.com
2,P003,Laura,Jones,M,1977-08-21,8397029847,321 Maple Dr,2022-02-07,PulseSecure,INS650929,laura.jones@mail.com
3,P004,Michael,Johnson,F,1981-02-20,9019443432,123 Elm St,2021-03-02,HealthIndia,INS789944,michael.johnson@mail.com
4,P005,David,Wilson,M,1960-06-23,7734463155,123 Elm St,2021-09-29,MedCare Plus,INS788105,david.wilson@mail.com

In [11]:
data['DOB']

0     1955-06-04
1     1984-10-12
2     1977-08-21
3     1981-02-20
4     1960-06-23
5     1963-06-16
6     1989-06-08
7     1976-07-05
8     1971-12-11
9     2001-10-13
10    1966-12-04
11    1991-12-08
12    1990-03-28
13    1968-02-27
14    1964-05-11
15    2000-07-22
16    1991-05-01
17    1979-09-24
18    1975-05-24
19    2003-06-06
20    2002-03-01
21    1955-05-10
22    1994-02-22
23    1991-11-04
24    1966-08-14
25    2003-11-28
26    1998-06-29
27    1993-04-13
28    2005-05-15
29    1964-12-23
30    1987-01-14
31    1981-01-08
32    1970-02-06
33    1950-01-26
34    1993-04-13
35    1997-12-26
36    1999-02-05
37    1991-06-25
38    1950-12-12
39    1972-05-30
40    1951-06-19
41    1954-08-22
42    1980-03-25
43    1976-03-11
44    1966-04-25
45    1986-09-01
46    1995-12-13
47    1983-03-24
48    1972-11-26
49    1993-12-27
Name: DOB, dtype: object

In [13]:
data['DOB']= pd.to_datetime(data['DOB'], errors='coerce')

In [14]:
data['Registration Date']= pd.to_datetime(data['Registration Date'], errors='coerce')

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Patient ID          50 non-null     object
 1   First Name          50 non-null     object
 2   Last Name           50 non-null     object
 3   Gender              50 non-null     object
 4   DOB                 50 non-null     datetime64[ns]
 5   Contact Number      50 non-null     int64
 6   Address             50 non-null     object
 7   Registration Date   50 non-null     datetime64[ns]
 8   Insurance Provider  50 non-null     object
 9   Insurance Number    50 non-null     object
 10  Email               50 non-null     object
dtypes: datetime64[ns](2), int64(1), object(8)
memory usage: 4.4+ KB

In [16]:
data.drop(columns='Contact Number',inplace=True)

In [17]:
data.columns

Index(['Patient ID', 'First Name', 'Last Name', 'Gender', 'DOB', 'Address',
       'Registration Date', 'Insurance Provider', 'Insurance Number', 'Email'],
      dtype='object')

In [18]:
data.duplicated().sum()

np.int64(0)

In [19]:
data.to_csv("cleaned_patient_data.csv",index=False)