In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("treatments.csv")

In [4]:
data.head()

,treatment_id,appointment_id,treatment_type,description,cost,treatment_date
0,T001,A001,Chemotherapy,Basic screening,3941.97,2023-08-09
1,T002,A002,MRI,Advanced protocol,4158.44,2023-06-09
2,T003,A003,MRI,Standard procedure,3731.55,2023-06-28
3,T004,A004,MRI,Basic screening,4799.86,2023-09-01
4,T005,A005,ECG,Standard procedure,582.05,2023-07-06

In [5]:
data.isna().sum()

treatment_id      0
appointment_id    0
treatment_type    0
description       0
cost              0
treatment_date    0
dtype: int64

In [6]:
data.columns

Index(['treatment_id', 'appointment_id', 'treatment_type', 'description',
       'cost', 'treatment_date'],
      dtype='object')

In [7]:
data=data.rename(columns={
    'treatment_id': 'Treatment ID', 
    'appointment_id': 'Appoitment ID', 
    'treatment_type': 'Treatment Type', 
    'description': 'Description',
    'cost': 'Cost', 
    'treatment_date': 'Treatment Date'

})

In [8]:
data.columns

Index(['Treatment ID', 'Appoitment ID', 'Treatment Type', 'Description',
       'Cost', 'Treatment Date'],
      dtype='object')

In [9]:
data['Treatment Date']

0      2023-08-09
1      2023-06-09
2      2023-06-28
3      2023-09-01
4      2023-07-06
          ...
195    2023-10-26
196    2023-04-01
197    2023-05-15
198    2023-05-01
199    2023-12-30
Name: Treatment Date, Length: 200, dtype: object

In [10]:
data['Treatment Date']=pd.to_datetime(data['Treatment Date'], errors='coerce')

In [11]:
data['Treatment Date']

0     2023-08-09
1     2023-06-09
2     2023-06-28
3     2023-09-01
4     2023-07-06
         ...
195   2023-10-26
196   2023-04-01
197   2023-05-15
198   2023-05-01
199   2023-12-30
Name: Treatment Date, Length: 200, dtype: datetime64[ns]

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Treatment ID    200 non-null    object
 1   Appoitment ID   200 non-null    object
 2   Treatment Type  200 non-null    object
 3   Description     200 non-null    object
 4   Cost            200 non-null    float64
 5   Treatment Date  200 non-null    datetime64[ns]
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 9.5+ KB

In [13]:
data.head()

,Treatment ID,Appoitment ID,Treatment Type,Description,Cost,Treatment Date
0,T001,A001,Chemotherapy,Basic screening,3941.97,2023-08-09
1,T002,A002,MRI,Advanced protocol,4158.44,2023-06-09
2,T003,A003,MRI,Standard procedure,3731.55,2023-06-28
3,T004,A004,MRI,Basic screening,4799.86,2023-09-01
4,T005,A005,ECG,Standard procedure,582.05,2023-07-06

In [14]:
data.to_csv("cleaned_treatment_data.csv",index=False)